body {
	font-family: $parrafos-font-family;
}

trix-editor {
	min-height: 400px;
}

.bg-primary .navbar-brand {
	color: white;
	font-family: "Fredoka One", cursive;
	font-size: 2rem;
	&:hover {
		color: white;
	}
}
